youtube-data-analysis-db/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "youtube-data-analysis-db"
		},
		"LS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsgen2youtube.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw-statistics",
						"fileSystem": "youtube-data-analysis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "video_id",
						"type": "String"
					},
					{
						"name": "trending_date",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "channel_title",
						"type": "String"
					},
					{
						"name": "category_id",
						"type": "String"
					},
					{
						"name": "publish_time",
						"type": "String"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "views",
						"type": "String"
					},
					{
						"name": "likes",
						"type": "String"
					},
					{
						"name": "dislikes",
						"type": "String"
					},
					{
						"name": "comment_count",
						"type": "String"
					},
					{
						"name": "thumbnail_link",
						"type": "String"
					},
					{
						"name": "comments_disabled",
						"type": "String"
					},
					{
						"name": "ratings_disabled",
						"type": "String"
					},
					{
						"name": "video_error_or_removed",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_PARQUEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "transformed-data/raw-statistics",
						"fileSystem": "youtube-data-analysis"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw-statistics-reference-data",
						"fileSystem": "youtube-data-analysis"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"kind": {
							"type": "string"
						},
						"etag": {
							"type": "string"
						},
						"items": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"kind": {
										"type": "string"
									},
									"etag": {
										"type": "string"
									},
									"id": {
										"type": "string"
									},
									"snippet": {
										"type": "object",
										"properties": {
											"channelId": {
												"type": "string"
											},
											"title": {
												"type": "string"
											},
											"assignable": {
												"type": "boolean"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "transformed-data/statistics-reference-data",
						"fileSystem": "youtube-data-analysis"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_INGEST_RAW_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_RAW_JSON_DATA",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['kind']"
										},
										"sink": {
											"name": "kind"
										}
									},
									{
										"source": {
											"path": "[['etag']"
										},
										"sink": {
											"name": "etag"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "[['snippet']['channelId']"
										},
										"sink": {
											"name": "channelId"
										}
									},
									{
										"source": {
											"path": "[['snippet']['title']"
										},
										"sink": {
											"name": "title"
										}
									},
									{
										"source": {
											"path": "[['snippet']['assignable']"
										},
										"sink": {
											"name": "assignable"
										}
									}
								],
								"collectionReference": "$['items']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PARQUET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CPY_RAW_CSV_DATA",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CPY_RAW_JSON_DATA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "video_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "video_id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "trending_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "trending_date",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "channel_title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel_title",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "category_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category_id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "publish_time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "publish_time",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "tags",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tags",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "views",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "views",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "likes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "likes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "dislikes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dislikes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "comment_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "comment_count",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "thumbnail_link",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "thumbnail_link",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "comments_disabled",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "comments_disabled",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ratings_disabled",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ratings_disabled",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "video_error_or_removed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "video_error_or_removed",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_PARQUEST",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_JSON')]",
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_PARQUEST')]"
			]
		}
	]
}